{% extends 'base.html' %}
{% block content %}
<section class="data-table-section fade-in">
    <h1 class="page-title">BBC News</h1>
    
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Headline</th>
                    <th>Category</th>
                    <th>Published Date</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.headline }}</td>
                    <td>{{ article.category }}</td>
                    <td>{{ article.date }}</td>
                    <td>{{ article.author }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
